* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #080808;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    /* background-image: url(images/bgimage.jpeg); */
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap
}

.logo {
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    bottom: -16px;
    left: 0;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 30px;

}

.header-text h1 span {
    color: #ff004f;
}

#about {
    padding: 80px 0;
    color: #ababab;

}

row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 h1 {
    flex-basis: 60%;
}

.sub-titile p {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    flex: 1;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    margin-right: 50px;
}